#root {
}
* {
  box-sizing: border-box;
}

/* index.css에서 복붙 */
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@tailwind base;
@tailwind components;
@tailwind utilities; */
