@import url('react-date-range/dist/styles.css');
@import url('react-date-range/dist/theme/default.css');

.rdrDayNumber {
  height: 50px;
  width: 50px;
  font-weight: 600;
  z-index: 2;
  font-size: 13px;
}

.mini
  .rdrDayNumber {
  height: 40px;
  width: 40px;
}

.rdrDayToday
  .rdrDayNumber
  span {
  font-weight: 600;
}

.rdrDays {
  width: 340px;
  justify-content: center;
}

.mini
  .rdrDays {
  width: 315px;
}

.rdrMonthAndYearWrapper {
  height: 0;
}

.rdrWeekDays {
  width: inherit;
}

.mini
  .rdrWeekDays {
  width: 295px;
}

.rdrDay {
  width: 4em;
  height: 4em;
  margin-bottom: 5px;
}

.mini
  .rdrDay {
  width: 3.5em;
  height: 3.5em;
}

.rdrDayDisabled {
  background-color: transparent;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrMonthAndYearPickers {
  display: none;
}

.rdrNextPrevButton {
  position: relative;
  margin-top: 60px;
  background-color: transparent;
}

.mini
  .rdrNextPrevButton {
  margin-right: 16px;
  margin-left: 30px;
  margin-top: 50px;
}

.rdrNextButton {
  margin-right: 30px;
}

.rdrMonth {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px
    10px;
}

.mini
  .rdrMonth {
  margin-right: 0;
}

.rdrDayPassive {
  visibility: hidden;
}

.rdrMonthName {
  text-align: center;
  color: black;
  font-size: 15px;
}

.rdrWeekDay {
  color: black;
}

.rdrInRange {
  background-color: rgb(
    247,
    247,
    247
  );
  height: 50px;
}

.mini
  .rdrInRange {
  height: 40px;
}

.rdrDayEndOfMonth
  .rdrInRange {
  background: linear-gradient(
    to
      right,
    rgb(
      247,
      247,
      247
    ),
    #ffffff
  );
}

.rdrDayStartOfMonth
  .rdrInRange {
  background: linear-gradient(
    to
      left,
    rgb(
      247,
      247,
      247
    ),
    #ffffff
  );
}

.rdrDayEndOfWeek
  .rdrInRange,
.rdrDayEndOfMonth
  .rdrInRange {
  /* Range안에 있는데 한주의 끝일때 */
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.rdrDayStartOfWeek
  .rdrInRange,
.rdrDayStartOfMonth
  .rdrInRange {
  /* Range안에 있는데 한주의 시작일때 */
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rdrDay:not(
    .rdrDayPassive
  )
  .rdrInRange
  ~ .rdrDayNumber
  span {
  /*Range 에 있는 숫자들*/
  color: black;
}

.rdrDayStartPreview:not(
    .rdrDayStartOfWeek
  ) {
  border: 1.5px
    solid
    black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 2;
}

.mini
  .rdrDayStartPreview:not(
    .rdrDayStartOfWeek
  ) {
  height: 40px;
  width: 40px;
}

.rdrDayEndPreview:not(
    .rdrDayStartOfWeek
  ) {
  border: 1.5px
    solid
    black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 2;
}
.mini
  .rdrDayEndPreview:not(
    .rdrDayStartOfWeek
  ) {
  height: 40px;
  width: 40px;
}

.rdrDayInPreview {
  border: none;
  background-color: rgb(
    247,
    247,
    247
  );
  height: 50px;
}
.mini
  .rdrDayInPreview {
  height: 40px;
}

.rdrDayEndOfWeek
  .rdrDayInPreview,
.rdrDayEndOfMonth
  .rdrDayInPreview {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.rdrDayStartOfWeek
  .rdrDayInPreview,
.rdrDayStartOfMonth
  .rdrDayInPreview {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rdrEndEdge {
  height: 50px;
  background: linear-gradient(
    to
      right,
    rgb(
        247,
        247,
        247
      )
      50%,
    #ffffff
      50%
  );
}
.mini
  .rdrEndEdge {
  height: 40px;
}

.rdrEndEdge::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%; /* 원 모양으로 만들기 위해 반지름을 50%로 설정 */
  left: 0px;
  z-index: 2; /* 배경에 추가하기 위해 z-index 설정 */
}
.mini
  .rdrEndEdge::before {
  width: 40px;
  height: 40px;
}

.rdrStartEdge {
  height: 50px;
  background: linear-gradient(
    to
      left,
    rgb(
        247,
        247,
        247
      )
      50%,
    #ffffff
      50%
  );
}

.mini
  .rdrStartEdge {
  height: 40px;
}

.rdrStartEdge::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%; /* 원 모양으로 만들기 위해 반지름을 50%로 설정 */
  left: 0px;
  z-index: 2; /* 배경에 추가하기 위해 z-index 설정 */
}

.mini
  .rdrStartEdge::before {
  width: 40px;
  height: 40px;
}

.rdrDayToday
  .rdrDayNumber
  span:after {
  content: none;
}

.rdrDay
  .rdrDayToday
  button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
